<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
        .login-card {
            width: 500px;
            margin: 200px auto;
        }
    </style>

</head>
<body>
<div id="app">
    <!--搜索表单-->
    <el-card shadow="never" class="login-card">
        <el-form :model="user" class="demo-form-inline">
            <el-form-item label="账号">
                <el-input v-model="user.username" placeholder="账号"></el-input>
            </el-form-item>

            <el-form-item label="密码">
                <el-input v-model="user.password" placeholder="密码"></el-input>
            </el-form-item>

            <el-form-item type="flex" justify="center">
                <el-button type="primary" @click="onSubmit">登录</el-button>
            </el-form-item>
            <el-form-item>
                <el-button type="text" @click="toRegister"
                >没有账号？去注册</el-button
                >
            </el-form-item>
        </el-form>
    </el-card>
</div>


<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script src="js/axios-0.18.0.js"></script>

<script>
    new Vue({
        el: "#app",

        methods: {


            // 查询方法
            onSubmit() {
                axios({
                    method: "post",
                    url: "http://localhost/users/login",
                    data: this.user
                }).then(res=>{
                    if (res.data.code =="400001"){
                        //登录成功
                        document.location.href = "http://localhost/brand.html"
                    }
                    else {
                        this.$message({
                            message: res.data.msg,
                            type: 'error'
                        });
                    }
                })

            },
            toRegister(){
                document.location.href = "http://localhost/register.html"
            }


        },

        data() {
            return {
                user: {
                    username: '',
                    password: '',
                    id: ""
                }
            }
        }
    })

</script>

</body>
</html>